body {
    font-family: Arial, sans-serif;
}

#container {
    width: 100%;
    overflow-x: scroll;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

#timeline,
#actors {
    display: inline-block;
}

.actor-bar {
    background-color: #3F51B5;
    margin-bottom: 10px;
}
